@import "../webview.mixin";

$iframe-scale: 1.75;

.app-application-browser {
  @include webview;
  .iframe-wrap {
    height: 100vw;
  }
  iframe {
    width: $iframe-scale * 100%;
    height: $iframe-scale * 100vw;
    transform: scale(1/$iframe-scale);
    transform-origin: 0 0;
  }
}
