@import "../webview.mixin";

$iframe-scale-small: 3.55;
$iframe-scale-big: 1.75;

.app-application-browser {
  @include webview;
  .iframe-wrap {
    height: 100vw;
  }
  iframe {
    width: $iframe-scale-small * 100%;
    height: $iframe-scale-small * 100vw;
    transform: scale(1/$iframe-scale-small);
    transform-origin: 0 0;
  }
}

.wide .app-application-browser {
  iframe {
    width: $iframe-scale-big * 100%;
    height: $iframe-scale-big * 100vw;
    transform: scale(1/$iframe-scale-big);
  }
}
