@import "globals";

.app-application-notes {
  padding: 10px;

  button {
    width: 20px; height: 20px;
    padding: 4px;
    border: none;
    cursor: pointer;
    outline: none;

    img {
      width: 12px; height: 12px;
    }
  }

  input, textarea {
    background-color: transparent;
    resize: none;
  }

  .content {

    .directory.edit-mode {
      background-color: $grey-0;
      @include mat-shadow;
    }

    .group-title {
      cursor: pointer;
      @include clearfix;

      &:hover {
        background-color: $grey-2;
      }
    }

    button {
      float: left;
      border: none;
      background: none;
      z-index: 2;

      &.right {
        float: right;
      }
    }

    strong {
      display: block;
      padding: 2px 5px;
    }

    .input {
      box-sizing: border-box;
      border-bottom: 1px solid transparent;
      @include clearfix;

      &.key-val {
        border-color: $grey-1;
        white-space: nowrap;

        > a {
          text-overflow: ellipsis;
          overflow: hidden;
        }
      }

      input, textarea {
        width: 100%;
      }

      textarea {
        padding: 2px 5px;
        border: none;
      }

      .key {
        min-width: 120px;
      }
      a.key, a.key + a {
        max-width: 120px;
      }

      > a,
      > div {
        float: left;
        padding: 2px 5px;
        white-space: nowrap;
      }
    }

    input {
      padding: 2px 5px;
      border: none;

      &.dirty {
        color: $red-1;
      }
    }

    .group {
      padding: 0 0 10px 20px;
    }
  }
}
