@import "globals";

$navbar-height: 24px;
$navbar-padding: 4px;

$navbar-content-size: $navbar-height - $navbar-padding * 2;

.app-navbar {
  min-height: $navbar-height;
  background: $grey-5;
  color: white;

  @include clearfix;
  @include mat-shadow;
}

.app-navbar-text {
  box-sizing: border-box;
  display: inline-block;
  height: $navbar-height;
  padding: $navbar-padding;
  font: $font-primary;
  line-height: $navbar-content-size;
}

.app-navbar-button {
  box-sizing: border-box;
  float: left;
  height: $navbar-height;
  padding: $navbar-padding 0 $navbar-padding $navbar-padding;
  border: none;
  background: none;
  @include animate(opacity);

  &[disabled] {
    opacity: 0;
  }

  img {
    width: auto;
    height: $navbar-content-size;
  }

  &.right {
    float: right;
    padding: $navbar-padding $navbar-padding $navbar-padding 0;
  }
}
