@import "globals";

$tabs-border-color: $grey-3;

.tabs-title {
  @include clearfix;
  min-height: 32px;
  z-index: 2;

  > .tab-title {
    float: left;
    padding: 5px 10px;
    background-color: $grey-1;
    cursor: pointer;

    &.active {
      background-color: white;
    }

    //+ .tab-title {
    //  border-left: none;
    //}
  }

  //+ .tabs-body {
  //  margin-top: -1px;
  //}
}

.tabs-body {
  background-color: white;
  //border: 1px solid $tabs-border-color;

  //+ .tabs-title {
  //  margin-top: -1px;
  //
  //  > .tab-title.active {
  //    border-bottom-color: $tabs-border-color;
  //    border-top-color: transparent;
  //  }
  //}
}
