@import "globals";

.app-apps-page-container {
  background: white;
  @include clearfix;

  .apps-wrapper {
    padding: 10px 20px;
  }

  .app-icon-block {
    float: left;
    width: $icon-size + $icon-spacing;
    margin: $icon-spacing/2;
    border: 1px solid transparent;
    cursor: pointer;

    &:hover {
      border-color: $grey-1;
    }

    img {
      width: $icon-size;
      height: $icon-size;
      margin: $icon-spacing/2;
      border-radius: $icon-border-radius;

      @include mat-shadow;
    }
    strong {
      display: block;
      padding-bottom: 8px;
      text-align: center;
      font: bold $font-primary;
      text-overflow: ellipsis;
      overflow: hidden;
    }
  }
}
