@import "globals";

* {
  margin: 0;
  padding: 0;
}

div,
input, textarea, button,
img, a {
  display: block;
  box-sizing: border-box;
  outline: none;
}

body {
  font: $font-primary;
  color: $grey-5;
}

.hidden,
.mobile .mobile-hidden,
.wide .wide-hidden {
  display: none;
}

// Declarations
@import "layout";
@import "shared/index";
@import "../app_modules/processors/pages/index";
@import "../app_modules/applications/index";

