@import "globals";

* {
  margin: 0;
  padding: 0;
}

div,
input, textarea, button,
img, a {
  display: block;
  box-sizing: border-box;
}

body {
  font: $font-primary;
}

.hidden {
  display: none;
}

// Declarations
@import "layout";
@import "shared/index";
@import "../app_modules/processors/pages/index";
@import "../app_modules/applications/index";

